.header-wrapper {
    position: fixed;
    top: 0;
    z-index: 9999;

    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 60px;
    padding: 0px 20px;

    border-bottom: solid 1px #F2F2F2;
    background-color: var(--bg);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 3px 0px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    gap: 25px;
}


.header-title {
    height: 32px;
    width: auto;

    line-height: 100%;
    font-size: 32px;
    text-align: left;

    display: flex;
    align-items: center;
}

.header-title a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    transition: translateX 0.3s ease-in;
}


/*헤더 스크롤 애니메이션*/
.header-wrapper.header-hidden {
    transform: translateY(-100%);
    opacity: 0;
}

/*
프로필 팝업 메뉴
*/

.profile-menu {
    position: absolute;
    top: 55px;
    right: 20px;
    width: 220px;
    height: auto;
    background: var(--bg);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: stretch;
    z-index: 1000;
    padding: 12px 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transform-origin: top right;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: scale(0);
    pointer-events: none;
}

.profile-menu.open {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.profile-menu button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
.profile-menu button:hover {
    background-color: var(--sub-bg);
}

.profile-menu button span {

    margin-left: 10px;
}

.profile-menu .profile-card {
    padding: 10px 20px;
    display: flex;
    gap: 15px;
}
.profile-menu .profile-card img {
    min-height: 45px;
    min-width: 45px;
    height: 45px;
    width: 45px;
}

.profile-menu .profile-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-menu .profile-card .nickname {
    font-size: 15px;
}

.profile-menu .action-wrapper {
    display: flex;
    padding: 6px 16px;
    align-items: center;
}

.profile-menu .action-wrapper:hover button,
.profile-menu .action-wrapper:hover img {
    font-weight: 600;
}
