#join-form {
    margin-top: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}



.field__file__input {
    display: none;
    
}

.join-grid {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 32px;
    width: 100%;
    align-items: flex-start;
}

.join-profile-panel {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.join-fields-panel {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 18px;
}

.join-fields-panel .field__label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 100%;
    font-weight: bold;
}

.join-fields-panel .field__input {
    height: 33px;
    font-size: 15px;
    padding-left: 10px;
    border-radius: var(--radius);
    border: 1px solid #bbb;
}

.join-field .field-hint {
    margin-left: 10px;
    font-size: 12px;
    color: #f15c5c;
}


.join-button {
    width: 300px;
    height: 35px;
    margin-top: 10px;
    border-radius: var(--radius);
    border-color:var(--invalid-btn-bg);
    background-color: var(--invalid-btn-bg);
    color: white;
    font-size: 15px;
}

#login-link {
    color: #000000;
    text-decoration: none;
    margin-top: 10px;
    font-size: 14px;
    height: 17px;
}
