.password-change-page {
    flex-direction: column;
    justify-content: start;
}

.password-change-page form {
    margin-top: 161px;
    width: 355px;
}

.profile-edit-title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.form-field {
    font-size: 15px;
    font-weight: bold;
}

#inputPassword,
#inputPasswordCheck {
    margin-top: 3px;
    height: 32px;
    width: 355px;
    padding: 0 7px;
    font-size: 14px;
}

.password-change-button {
    width: 355px;
    height: 35px;
    margin-top: 24px;
    border: none;
    border-radius: var(--radius);
    font-size: 15px;
    color: white;
    transition: background-color 150ms ease;
}

.password-change-button-disabled {
    background-color: var(--sub-bg);
    cursor: not-allowed;
}

.password-change-button-enabled {
    background-color: var(--valid-btn-bg);
    cursor: pointer;
}

.password-change-success-toast-msg {
    margin-top: 90px;
    width: 102px;
    height: 46px;
    border-radius: 30px;
    background-color: var(--invalid-btn-bg);
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    line-height: 46px;
    opacity: 0;
}

.password-change-success-toast-msg.show {
    animation: toast-slide 2s ease forwards;
}

.field__hint {
    margin-bottom: 25px;
    width: 355px;
}

@keyframes toast-slide {
    0% { opacity: 0; transform: translateY(0); }
    20% { opacity: 1; transform: translateY(-5px); }
    80% { opacity: 1; transform: translateY(-10px); }
    100% { opacity: 0; transform: translateY(-10px); }
}
